* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 50px;
  margin-bottom: 50px;
}

.params-tarjetones {
  text-align: center;
  padding: 20px;
}

.info-tarjetones.hidde {
  display: none;
}

.form-section {
  display: block;
  text-align: center;
  min-width: 30%;
}

.form-section.hidden {
  display: none;
}

.form-content {
  display: flex;
  justify-content: space-evenly;
}

.form-content input {
  width: 200px;
}

.form-content button {
  width: 100px;
}

.output {
  overflow: scroll;
  height: 200px;
}

.corrections {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: 1;
  min-height: 500px;
  overflow: scroll;
}

.corrections.hidde {
  display: none;
}

.file-corrections {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
